<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <servlet>
        <servlet-name>StudentServlet</servlet-name>
        <servlet-class>com.example.lab9.servlets.StudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GradeServlet</servlet-name>
        <servlet-class>com.example.lab9.servlets.GradeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GradeServlet</servlet-name>
        <url-pattern>/grades</url-pattern>
    </servlet-mapping>
    <error-page>
        <exception-type>java.lang.NumberFormatException</exception-type>
        <location>/WEB-INF/pages/error.jsp</location>
    </error-page>
</web-app>